name: Run Blits Tests

on:
  pull_request:
    branches:
      - dev

jobs:
  run-blits-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20.16.0
        cache: npm

    - name: Install Dependencies
      run: npm install

    - name: Run Tests
      run: npm run test > test-report.txt
      # To make sure next steps to execute
      continue-on-error: true 

    - name: Get Current Timestamp
      id: timestamp
      run: echo "timestamp=$(date)" >> $GITHUB_OUTPUT

    - name: Extract Test Summary
      id: extracted-test-summary
      run: |
        # Search for a line containing both "passed:" and "failed:"
        summary=$(grep -E "passed:.*failed:" test-report.txt | head -n1)
        
        # Extract the number of failed tests
        failed=$(echo "$summary" | sed -E 's/.*failed:\s*([0-9]+).*/\1/')
        
        echo "summary=$summary" >> $GITHUB_OUTPUT
        
        # If the number of failed tests is greater than 1, exit with error.
        if [ "$failed" -gt 1 ]; then
            exit 1
        fi
    
    - name: Find Comment By BOT in PR
      uses: peter-evans/find-comment@v3
      if: always()
      id: fc
      with:
        issue-number: ${{ github.event.pull_request.number }}
        comment-author: 'github-actions[bot]'
        body-includes: Test Results Summary

    - name: Create Comment in PR
      if: steps.fc.outputs.comment-id == '' && always()
      uses: peter-evans/create-or-update-comment@v4
      with:
        issue-number: ${{ github.event.pull_request.number }}
        body: |
          **Test Results Summary** (Last updated: ${{ steps.timestamp.outputs.timestamp }}) 
          ${{ steps.extracted-test-summary.outputs.summary}} 

    - name: Update Comment in PR
      if: steps.fc.outputs.comment-id != '' && always()
      uses: peter-evans/create-or-update-comment@v4
      with:
        comment-id: ${{ steps.fc.outputs.comment-id }}
        body: |
          \n\n
          **Test Results Summary** (Last updated: ${{ steps.timestamp.outputs.timestamp }})
          ${{ steps.extracted-test-summary.outputs.summary}}
        
    - name: Upload Test Report Artifact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: test-report.txt
    
